<h1 class="h1-strong">My orders</h1>
<div class="accordion mt-5" id="accordionExample">
    <div *ngFor="let order of orders" class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Mis compras : {{order.paymentId}}
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <ul *ngFor="let product of order.carts">
              <li>Nombre del producto: {{product.product.title}} cantidad: {{product.qty}} sub total: {{ product.importe}} </li>
              
          </ul>
        </div>
      </div>
      
    </div>
  </div>
